server:
    port: 8888
eureka:
  client:
   serviceUrl:
    defaultZone: http://hadoopslave4:8762/eureka/
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${spring.application.instance_id:${server.port}}
spring:
  application:
    name: turbine

turbine:
  aggregator:
#    clusterConfig: EUREKACLIENT0,EUREKACLIENT1
    clusterConfig: default
  appConfig: eurekaclient0,eurekaclient1
  clusterNameExpression: "'default'"

