<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dbEntity.member.basicmappers.LxCecEquipmentInfoMapper" >
  <resultMap id="BaseResultMap" type="com.dbEntity.member.basicentity.LxCecEquipmentInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="station_id" property="stationId" jdbcType="VARCHAR" />
    <result column="operator_id" property="operatorId" jdbcType="VARCHAR" />
    <result column="equipment_id" property="equipmentId" jdbcType="VARCHAR" />
    <result column="manufacture_id" property="manufactureId" jdbcType="VARCHAR" />
    <result column="manufacture_name" property="manufactureName" jdbcType="VARCHAR" />
    <result column="equipment_model" property="equipmentModel" jdbcType="VARCHAR" />
    <result column="manufacture_model" property="manufactureModel" jdbcType="VARCHAR" />
    <result column="software_version" property="softwareVersion" jdbcType="VARCHAR" />
    <result column="production_date" property="productionDate" jdbcType="VARCHAR" />
    <result column="equipment_type" property="equipmentType" jdbcType="INTEGER" />
    <result column="equipment_lng" property="equipmentLng" jdbcType="DECIMAL" />
    <result column="equipment_lat" property="equipmentLat" jdbcType="DECIMAL" />
    <result column="power" property="power" jdbcType="DECIMAL" />
    <result column="equipment_name" property="equipmentName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="proxy_operator_id" property="proxyOperatorId" jdbcType="VARCHAR" />
    <result column="artificial_state" property="artificialState" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, station_id, operator_id, equipment_id, manufacture_id, manufacture_name, equipment_model, 
    manufacture_model, software_version, production_date, equipment_type, equipment_lng, 
    equipment_lat, power, equipment_name, create_time, update_time, proxy_operator_id, 
    artificial_state, state
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.dbEntity.member.basicentity.LxCecEquipmentInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from lx_cec_equipment_info1
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.dbEntity.member.basicentity.LxCecEquipmentInfoExample" >
    delete from lx_cec_equipment_info1
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="com.dbEntity.member.basicentity.LxCecEquipmentInfo" >
    insert into lx_cec_equipment_info1
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="stationId != null" >
        station_id,
      </if>
      <if test="operatorId != null" >
        operator_id,
      </if>
      <if test="equipmentId != null" >
        equipment_id,
      </if>
      <if test="manufactureId != null" >
        manufacture_id,
      </if>
      <if test="manufactureName != null" >
        manufacture_name,
      </if>
      <if test="equipmentModel != null" >
        equipment_model,
      </if>
      <if test="manufactureModel != null" >
        manufacture_model,
      </if>
      <if test="softwareVersion != null" >
        software_version,
      </if>
      <if test="productionDate != null" >
        production_date,
      </if>
      <if test="equipmentType != null" >
        equipment_type,
      </if>
      <if test="equipmentLng != null" >
        equipment_lng,
      </if>
      <if test="equipmentLat != null" >
        equipment_lat,
      </if>
      <if test="power != null" >
        power,
      </if>
      <if test="equipmentName != null" >
        equipment_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="proxyOperatorId != null" >
        proxy_operator_id,
      </if>
      <if test="artificialState != null" >
        artificial_state,
      </if>
      <if test="state != null" >
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="stationId != null" >
        #{stationId,jdbcType=VARCHAR},
      </if>
      <if test="operatorId != null" >
        #{operatorId,jdbcType=VARCHAR},
      </if>
      <if test="equipmentId != null" >
        #{equipmentId,jdbcType=VARCHAR},
      </if>
      <if test="manufactureId != null" >
        #{manufactureId,jdbcType=VARCHAR},
      </if>
      <if test="manufactureName != null" >
        #{manufactureName,jdbcType=VARCHAR},
      </if>
      <if test="equipmentModel != null" >
        #{equipmentModel,jdbcType=VARCHAR},
      </if>
      <if test="manufactureModel != null" >
        #{manufactureModel,jdbcType=VARCHAR},
      </if>
      <if test="softwareVersion != null" >
        #{softwareVersion,jdbcType=VARCHAR},
      </if>
      <if test="productionDate != null" >
        #{productionDate,jdbcType=VARCHAR},
      </if>
      <if test="equipmentType != null" >
        #{equipmentType,jdbcType=INTEGER},
      </if>
      <if test="equipmentLng != null" >
        #{equipmentLng,jdbcType=DECIMAL},
      </if>
      <if test="equipmentLat != null" >
        #{equipmentLat,jdbcType=DECIMAL},
      </if>
      <if test="power != null" >
        #{power,jdbcType=DECIMAL},
      </if>
      <if test="equipmentName != null" >
        #{equipmentName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="proxyOperatorId != null" >
        #{proxyOperatorId,jdbcType=VARCHAR},
      </if>
      <if test="artificialState != null" >
        #{artificialState,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dbEntity.member.basicentity.LxCecEquipmentInfoExample" resultType="java.lang.Integer" >
    select count(*) from lx_cec_equipment_info1
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update lx_cec_equipment_info1
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.stationId != null" >
        station_id = #{record.stationId,jdbcType=VARCHAR},
      </if>
      <if test="record.operatorId != null" >
        operator_id = #{record.operatorId,jdbcType=VARCHAR},
      </if>
      <if test="record.equipmentId != null" >
        equipment_id = #{record.equipmentId,jdbcType=VARCHAR},
      </if>
      <if test="record.manufactureId != null" >
        manufacture_id = #{record.manufactureId,jdbcType=VARCHAR},
      </if>
      <if test="record.manufactureName != null" >
        manufacture_name = #{record.manufactureName,jdbcType=VARCHAR},
      </if>
      <if test="record.equipmentModel != null" >
        equipment_model = #{record.equipmentModel,jdbcType=VARCHAR},
      </if>
      <if test="record.manufactureModel != null" >
        manufacture_model = #{record.manufactureModel,jdbcType=VARCHAR},
      </if>
      <if test="record.softwareVersion != null" >
        software_version = #{record.softwareVersion,jdbcType=VARCHAR},
      </if>
      <if test="record.productionDate != null" >
        production_date = #{record.productionDate,jdbcType=VARCHAR},
      </if>
      <if test="record.equipmentType != null" >
        equipment_type = #{record.equipmentType,jdbcType=INTEGER},
      </if>
      <if test="record.equipmentLng != null" >
        equipment_lng = #{record.equipmentLng,jdbcType=DECIMAL},
      </if>
      <if test="record.equipmentLat != null" >
        equipment_lat = #{record.equipmentLat,jdbcType=DECIMAL},
      </if>
      <if test="record.power != null" >
        power = #{record.power,jdbcType=DECIMAL},
      </if>
      <if test="record.equipmentName != null" >
        equipment_name = #{record.equipmentName,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.proxyOperatorId != null" >
        proxy_operator_id = #{record.proxyOperatorId,jdbcType=VARCHAR},
      </if>
      <if test="record.artificialState != null" >
        artificial_state = #{record.artificialState,jdbcType=INTEGER},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update lx_cec_equipment_info1
    set id = #{record.id,jdbcType=BIGINT},
      station_id = #{record.stationId,jdbcType=VARCHAR},
      operator_id = #{record.operatorId,jdbcType=VARCHAR},
      equipment_id = #{record.equipmentId,jdbcType=VARCHAR},
      manufacture_id = #{record.manufactureId,jdbcType=VARCHAR},
      manufacture_name = #{record.manufactureName,jdbcType=VARCHAR},
      equipment_model = #{record.equipmentModel,jdbcType=VARCHAR},
      manufacture_model = #{record.manufactureModel,jdbcType=VARCHAR},
      software_version = #{record.softwareVersion,jdbcType=VARCHAR},
      production_date = #{record.productionDate,jdbcType=VARCHAR},
      equipment_type = #{record.equipmentType,jdbcType=INTEGER},
      equipment_lng = #{record.equipmentLng,jdbcType=DECIMAL},
      equipment_lat = #{record.equipmentLat,jdbcType=DECIMAL},
      power = #{record.power,jdbcType=DECIMAL},
      equipment_name = #{record.equipmentName,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      proxy_operator_id = #{record.proxyOperatorId,jdbcType=VARCHAR},
      artificial_state = #{record.artificialState,jdbcType=INTEGER},
      state = #{record.state,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dbEntity.member.basicentity.LxCecEquipmentInfo" >
    update lx_cec_equipment_info1
    <set >
      <if test="stationId != null" >
        station_id = #{stationId,jdbcType=VARCHAR},
      </if>
      <if test="operatorId != null" >
        operator_id = #{operatorId,jdbcType=VARCHAR},
      </if>
      <if test="equipmentId != null" >
        equipment_id = #{equipmentId,jdbcType=VARCHAR},
      </if>
      <if test="manufactureId != null" >
        manufacture_id = #{manufactureId,jdbcType=VARCHAR},
      </if>
      <if test="manufactureName != null" >
        manufacture_name = #{manufactureName,jdbcType=VARCHAR},
      </if>
      <if test="equipmentModel != null" >
        equipment_model = #{equipmentModel,jdbcType=VARCHAR},
      </if>
      <if test="manufactureModel != null" >
        manufacture_model = #{manufactureModel,jdbcType=VARCHAR},
      </if>
      <if test="softwareVersion != null" >
        software_version = #{softwareVersion,jdbcType=VARCHAR},
      </if>
      <if test="productionDate != null" >
        production_date = #{productionDate,jdbcType=VARCHAR},
      </if>
      <if test="equipmentType != null" >
        equipment_type = #{equipmentType,jdbcType=INTEGER},
      </if>
      <if test="equipmentLng != null" >
        equipment_lng = #{equipmentLng,jdbcType=DECIMAL},
      </if>
      <if test="equipmentLat != null" >
        equipment_lat = #{equipmentLat,jdbcType=DECIMAL},
      </if>
      <if test="power != null" >
        power = #{power,jdbcType=DECIMAL},
      </if>
      <if test="equipmentName != null" >
        equipment_name = #{equipmentName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="proxyOperatorId != null" >
        proxy_operator_id = #{proxyOperatorId,jdbcType=VARCHAR},
      </if>
      <if test="artificialState != null" >
        artificial_state = #{artificialState,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>