server:
  port: 8183
#  context-path: /eurekaclient
eureka:
  client:
    healrhcheck:
      enable: true
    serviceUrl:
      defaultZone: http://127.0.0.1:8762/eureka/
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${spring.application.instance_id:${server.port}}
spring:
  application:
    name: eurekaclientRabbitMq
  rabbitmq:
    host: 172.16.2.4
    port: 5672
    username: admin
    password: admin
    publisher-confirms: true
    virtual-host: /

tutorial:
  client:
    duration: 1000


